In [14]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
# Half-Court is 50' x 47'

X = np.repeat(np.arange(0, 50, 0.2), 47*5)
Y = np.arange(0, 47, 0.2)
while len(Y) != (50*5 * 47*5):
    Y = np.concatenate([Y, np.arange(0, 47, 0.2)])

In [3]:
# Generate court 
court = pd.DataFrame({'X':X, 'Y':Y})

# Coefficients for parabola for 3-point arc
a = -0.028409090909091
b = 1.4204545454545
c = 9.9943181818182

# Define regions
def area(x, y):
    if (y <= 19) and (x >= 19) and (x <= 31) and (y > 0):
        return "P"
    elif (y > 0) and (y <= 14) and (x > 0) and (x < 3):
        return "LC"
    elif (y > 0) and (y <= 14) and (x > 46.8) and (x < 49.8):
        return "RC"
    elif (y > 0) and (y <= 14) and (x >= 3) and (x < 19):
        return "LB"
    elif (y > 0) and (y <= 14) and (x > 31) and (x <= 46.8):
        return "RB"
    elif (y < 46.8) and (y > (a*x**2 + b*x + c)) and (y > (19/6)*(x - 25)) and (y > (-19/6)*(x - 25)):
        return "T"
    elif (x > 0) and (y < 46.8) and (y > (a*x**2 + b*x + c)) and (y > 14) and (y <= (-19/6)*(x - 25)):
        return "LW"
    elif (x < 49.8) and (y < 46.8) and (y > (a*x**2 + b*x + c)) and (y > 14) and (y <= (19/6)*(x - 25)):
        return "RW"
    elif (y <= (a*x**2 + b*x + c)) and (x < 19) and (y <= (-19/6)*(x - 25)) and (y > 14):
        return "LE"
    elif (y <= (a*x**2 + b*x + c)) and (x > 31) and (y <= (19/6)*(x - 25)) and (y > 14):
        return "RE"
    elif (y <= (a*x**2 + b*x + c)) and (y > (-19/6)*(x - 25)) and (y > (19/6)*(x - 25)) and (y > 19):
        return "TK"
    else:
        return "OOB"

court['Region'] = court.apply(lambda df: area(df['X'], df['Y']), axis=1)

In [6]:
court.head(10)

     X    Y Region
0  0.0  0.0    OOB
1  0.0  0.2    OOB
2  0.0  0.4    OOB
3  0.0  0.6    OOB
4  0.0  0.8    OOB
5  0.0  1.0    OOB
6  0.0  1.2    OOB
7  0.0  1.4    OOB
8  0.0  1.6    OOB
9  0.0  1.8    OOB

In [18]:
# Sample data

kobe = pd.read_csv("kobe_data.csv")
raw_kobe = kobe.copy()

kobe = kobe[['loc_x', 'loc_y', 'shot_made_flag']]
kobe['loc_x'] = kobe['loc_x'] / 10 + 25
kobe['loc_y'] = kobe['loc_y'] / 10
kobe['Region'] = kobe.apply(lambda df: area(df['loc_x'], df['loc_y']), axis=1)
kobe = kobe[(kobe.Region != "OOB")]
kobe = kobe.dropna()

kobe.to_csv("kobe_regions.csv")

In [19]:
raw_kobe.head(5)

,action_type,combined_shot_type,game_event_id,game_id,lat,loc_x,loc_y,lon,minutes_remaining,period,playoffs,season,seconds_remaining,shot_distance,shot_made_flag,shot_type,shot_zone_area,shot_zone_basic,shot_zone_range,team_id,team_name,game_date,matchup,opponent,shot_id
0,Jump Shot,Jump Shot,5,21501228,33.8413,137,203,-118.1328,11,1,0,2015-16,25,24,0.0,3PT Field Goal,Right Side Center(RC),Above the Break 3,24+ ft.,1610612747,Los Angeles Lakers,4/13/16,LAL vs. UTA,UTA,22852
1,Jump Shot,Jump Shot,11,21501228,34.0333,199,11,-118.0708,10,1,0,2015-16,44,19,0.0,2PT Field Goal,Right Side(R),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,4/13/16,LAL vs. UTA,UTA,22853
2,Layup Shot,Layup,21,21501228,34.0423,19,2,-118.2508,8,1,0,2015-16,59,1,0.0,2PT Field Goal,Center(C),Restricted Area,Less Than 8 ft.,1610612747,Los Angeles Lakers,4/13/16,LAL vs. UTA,UTA,22854
3,Turnaround Jump Shot,Jump Shot,32,21501228,33.9983,6,46,-118.2638,7,1,0,2015-16,40,4,0.0,2PT Field Goal,Center(C),In The Paint (Non-RA),Less Than 8 ft.,1610612747,Los Angeles Lakers,4/13/16,LAL vs. UTA,UTA,22855
4,Jump Shot,Jump Shot,57,21501228,33.8793,-61,165,-118.3308,5,1,0,2015-16,34,17,0.0,2PT Field Goal,Left Side Center(LC),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,4/13/16,LAL vs. UTA,UTA,22856

In [20]:
kobe.head(5)

   loc_x  loc_y  shot_made_flag Region
0   38.7   20.3             0.0     RE
1   44.9    1.1             0.0     RB
2   26.9    0.2             0.0      P
3   25.6    4.6             0.0      P
4   18.9   16.5             0.0     LE